#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px; /* Assicura che sia centrato nel footer */
    margin-left: auto; /* Sposta il login verso destra */
    gap: 5px; /* Distanza tra input e bottone */
    width: fit-content; /* Mantiene la larghezza minima necessaria */
}

#username {
    text-align: center; /* Centra il testo dentro l'input */
    font-size: 18px;
    padding: 5px;
    width: 120px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: Montserrat, sans-serif;
    outline: none;
    transition: border-color 0.3s;
}

#username::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#username:focus {
    border-color: #722C54;
    background-color: rgba(147, 96, 96, 0.848); /* Sfondo leggermente colorato */
    color: #c6c6c6;
}

.hint {
    display: none;
    color: white;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    margin-top: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
}

#login-btn {
    display: block;
    text-align: center;
    margin-top: 5px; /* Spazio sopra il pulsante */
}

#login-btn, #logout-btn {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

#login-btn:hover, #logout-btn:hover {
    text-decoration: underline;
}

#welcome-message {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: white;
    margin-top: 10px;
    margin-right: 40px;
    text-align: center; /* Centra il testo */
    flex-direction: column; /* Ogni elemento va su una riga */
}
