

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #c6c6c6;
    color: #722c54;
    padding: 10px 50px;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; /* Centra verticalmente gli elementi */
    justify-content: space-between; /* Spazia gli elementi */
    width: 100%; /* Fa sì che il menu occupi tutta la larghezza */
}

nav ul li {
    display: inline;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

nav ul li:first-child {
    display: flex;
    align-items: center; /* Centra il logo e la scritta */
    gap: 10px; /* Distanza tra logo e il testo */
}

nav ul li:first-child a {
    font-weight: 900;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
    color: #722C54;
}

nav ul li:not(:first-child):not(.social-icon) {
    margin: 0 30px; /* Aggiunge spazio tra le voci di menu */
}

nav ul li a {
    color: #722C54;
    text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center; /* Centra verticalmente il logo e la scritta */
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.social-icon {
    margin-left: auto; /* Sposta l'icona completamente a destra */
}

.instagram-logo {
    width: 40px;  /* Dimensione del logo */
    height: auto;
    display: block;
}

/* Nasconde il checkbox */
#menu-toggle {
    display: none;
}

/* Stile per l'icona hamburger */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #722c54;
    padding: 10px;
}

/* Media Query per dispositivi mobili */
@media screen and (max-width: 768px) {
    .menu {
        display: none; /* Nasconde il menu inizialmente */
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: #e5e5e5;
        text-align: center;
    }

    .menu li {
        display: block;
        padding: 10px;
    }

    .menu-icon {
        display: block; /* Mostra l'icona su mobile */
    }

    /* Mostra il menu quando il checkbox è attivo */
    #menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }
}





h1 {
    font-family: Montserrat;
        font-size: 64px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        margin-top: 200px;
        margin-bottom: 100px;

    }

    .epigraph {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        margin-bottom: 150px;
        margin-left: 50px;
        margin-right: 50px;
    }


/* Stile per il titolo sopra la galleria */
.gallery-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px; 
}
/* Stile per la Galleria Fotografica */
.gallery {
    display: grid;
    text-align: center;
    padding: 20px;
    justify-content: center; /* Centra le immagini orizzontalmente */
    align-items: center; /* Centra le immagini verticalmente */
    margin-bottom: 100px;
}

.thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    justify-items: center; /* Centra le miniature nella griglia */
}

.thumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Modal per la Foto a Grandezza Naturale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1000;
}

.full-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}




    .work-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 40px 0;
        gap: 70px; /* Maggiore spazio tra i rettangoli */
    }

    .work-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #623030;
        width: 80%;
        padding: 40px;
        text-decoration: none;
        color: white;
        font-size: 40px;
        font-weight: 500;
        min-height: 200px;
        border-radius: 16px;
        padding: 50px; /* Maggiore spazio interno */
    }

    .work-item span {
        flex: 1;
        text-align: center;
        margin: 0 30px; /* Sposta leggermente il testo verso il centro */
    }
    

    .work-item img {
        width: 360px;
        height: auto;
        border-radius: 8px;
        margin: 0 30px; /* Sposta leggermente le immagini verso il centro */
        transition: transform 0.3s ease-in-out;
}

.work-item img:hover {
    transform: scale(1.1); /* Effetto di ingrandimento */
}

.work-item reverse {
    flex-direction: row-reverse !important; /* Forza il cambio di direzione */
}
    
@media screen and (max-width: 768px) {
    .work-container {
        flex-direction: column;
        align-items: center;
    }

    .work-item {
        flex-direction: column; /* Impila immagine e titolo verticalmente */
        text-align: center;
        padding: 30px;
    }

    .work-item img {
        width: 100%;
        max-width: 300px; /* Limita la dimensione dell'immagine */
        margin: 0 auto 20px auto; /* Centra l'immagine e aggiunge spazio sotto */
    }

    .work-item span {
        margin: 0;
    }
}



    .contact {
        font-family: Montserrat;
        color: #ffffff;
        font-size: 20px;
        margin: 100px auto;
        width: 80%;
        text-align: center;
        line-height: 2.4; /* Aumenta la spaziatura tra le righe */
    }
    
    .contact a {
        color: #722c54;
        font-weight: 400;
    }
    
    .contact a:hover {
        text-decoration: underline;
    }
    

    footer{
        background-color: #c6c6c6;
        color: black;
        padding: 40px 200px;
        display: flex;
        justify-content: space-between; /* Testo a sinistra, immagine a destra */
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%; /* Utilizza solo max-width per evitare overflow */
        box-sizing: border-box; /* Assicura che il padding non influisca sulla larghezza */
        position: relative;
        bottom: 0;
        overflow: hidden; /* Prevenire lo scroll orizzontale */
        margin-top: 100px; /* Maggiore spazio tra la sezione e il footer */
    }
    
    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer-left p {
        margin: 0;
        font-size: 20px;
        font-weight: 300;
        font-family: Montserrat, sans-serif;
    }
    
    .footer-left a {
        color: #722C54;
        font-weight: 300;
        font-size: 24px;
        text-decoration: none;
        margin-top: 10px;
    }
    
    .footer-left a:hover {
        text-decoration: underline;
    }
    
    .footer-right img {
        width: 200px;  /* Dimensione dell'immagine */
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }
    
    .footer-right img:hover {
        transform: scale(1.1);
    }

    @media screen and (max-width: 768px) { }